<li>
	<span><%=album.name%></span>
	<%=link_to image_tag("edit.png"), edit_album_url(album), :class=> "image_link"%>
	<%=link_to image_tag("delete.png"),{ action: :destroy, id: album.id }, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"image_link"%>
</li>
	