<h1><%=@album.name%></h1>
<h2>Images<%=link_to image_tag("add.png"),new_album_photo_url(:album_id => @album.id), :class => "image_link"%></h2>
<%if @photos.any?%>

	<%@photos.each do |photo|%>
		<%= image_tag photo.image.url(:medium) %>
	<%end%>
	
<%end%>