@import 'variable';
html, body
{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html{
	background-image: url($routeImg+"sky1.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position:center;
}
ul{
	li{
		color: white;
		text-align: center;
	}
}
form{
	width: 25%;
	min-width: 400px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	left: 0%;
	right: 0%;
    top: 50%;
    margin-top: -100px;
	ul,li{width: 100%;}
	input{
		font-family: 'Open Sans', sans-serif;
		font-size: x-large;
		width: 80%;
		height: 50px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		border:0px;
		margin-right: 10%;
		margin-left: 10%;
		&.text{
			text-indent: 0.2cm; 
			margin-bottom:10px;
		}
	}
	a{
		width: auto;
		text-align: right;
		margin-right: 10%;
		margin-top: 30px;
		color: white;
		display: block;
	}
	
}
.margin_bottom_10{
	margin-bottom: 10px;
}
