@mixin menu_options {
	background-color: #118C4E;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-bottom: 50px;
	display: block;
	img{
		width: 50px;
		margin-top: 25px;
		margin-left: 25px;
	} 
}
