<!DOCTYPE html>
<html>

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="noindex">
	<title>Página de login</title>
	<meta name = "viewport" content = "width = 630">
	<link rel="shortcut icon" href="../assets/images/admin/admin_favicon.ico" type="image/ico">	
	<%= stylesheet_link_tag "login", media: "all" %>
	<%= javascript_include_tag "login" %>
	
</head>

<body>
	
<div class="wrapper">
	<%=yield%>		
</div>
</body>
</html>